[Desktop Entry]
Name=Gotify Tray
Comment=A tray notification application for receiving messages from a Gotify server.
Path=/opt/gotify-tray
Exec=/opt/gotify-tray/gotify-tray
Icon=/usr/share/icons/gotify-tray.ico
Terminal=false
Type=Application
Categories=Network;
