include README.md version.txt
include gotify_tray/gui/images/*.png
include gotify_tray/gui/images/*.svg
include gotify_tray/gui/themes/default/*.svg
include gotify_tray/gui/themes/default/*.qss
include gotify_tray/gui/themes/dark_purple/*.svg
include gotify_tray/gui/themes/dark_purple/*.qss
include gotify_tray/gui/themes/light_purple/*.svg
include gotify_tray/gui/themes/light_purple/*.qss
