include README.md version.txt
include gotify_tray/gui/images/*.png
include gotify_tray/gui/images/*.svg
include gotify_tray/gui/themes/base.qss
include gotify_tray/gui/themes/dark/*.svg
include gotify_tray/gui/themes/dark/*.qss
include gotify_tray/gui/themes/light/*.svg
include gotify_tray/gui/themes/light/*.qss
