QPushButton:!default:hover {
    background: #5c24b6;
}

QPushButton:default:hover, QPushButton:checked:hover {
    background: #5c24b6;
}

QToolTip {
    color: #BFBFBF;
    background-color: #5522a8;
}

MessageWidget QPushButton {
    border: 0px;
}

MessageWidget QPushButton:!default:hover {
    background: #9662ea;
}

MessageWidget QPushButton:!default:pressed {
    background: #7a4dc2;
}
