MessageWidget QPushButton[objectName^="pb_delete"] {
    qproperty-iconSize: 24px;
}

MessageWidget QLabel[objectName^="label_date"] {
    margin-right: 1px;
}

MessageWidget QLabel[priority="medium"] {
    background-color: #b3e67e22;
}

MessageWidget QLabel[priority="high"] {
    background-color: #e74c3c;
}
