[Desktop Entry]
Name=gotify-tray
Comment=A tray notification application for receiving messages from a Gotify server.
Path=/usr/lib/gotify-tray
Exec=/usr/lib/gotify-tray/gotify-tray
Icon=/usr/share/icons/gotify-tray.ico
Terminal=false
Type=Application
Categories=Network;
